@use '../../../../styles/_tokens.scss' as *;

.query-price-results__title {
  display: flex;
  margin-bottom: 16px;
  color: $dp-color-text-heading;
  font-size: $dp-font-size-title;
  font-weight: $dp-font-weight-bold;
}

.query-price-empty {
  align-items: center;
}

.query-price-empty__title {
  color: $dp-color-text-heading;
  font-size: $dp-font-size-title;
  font-weight: $dp-font-weight-bold;
}

.query-price-empty__summary {
  display: flex;
  margin-top: 12px;
  color: $dp-color-text-supporting;
  font-size: $dp-font-size-body;
  line-height: $dp-line-height-body-small;
  text-align: center;
}
