node_modules/
.pnpm-store/
dist/
build/
coverage/
.turbo/

apps/*/android/build/
apps/*/android/app/build/
apps/*/android/
apps/*/ios/
apps/*/.github/
apps/*/.watchmanconfig
apps/*/babel.config.js
apps/*/config/
apps/*/index.js
apps/*/metro.config.js
apps/*/readme.md
apps/*/tsconfig.json
apps/*/types/

*.lock
pnpm-lock.yaml
pnpm-workspace.yaml
