{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },
  "overrides": [
    {
      "files": ["src/**/*.{ts,tsx}"],
      "rules": {
        "semi": ["error", "never"],
        "quotes": ["error", "single", { "avoidEscape": true }],
        "jsx-quotes": ["error", "prefer-single"],
        "comma-dangle": ["error", "never"],
        "react/jsx-closing-bracket-location": [
          "error",
          {
            "nonEmpty": "line-aligned",
            "selfClosing": "line-aligned"
          }
        ],
        "import/order": [
          "error",
          {
            "groups": [
              "builtin",
              "external",
              "internal",
              ["parent", "sibling", "index"],
              "type"
            ],
            "pathGroups": [
              {
                "pattern": "react",
                "group": "external",
                "position": "before"
              },
              {
                "pattern": "@tarojs/**",
                "group": "external",
                "position": "after"
              },
              {
                "pattern": "@/**",
                "group": "internal",
                "position": "after"
              }
            ],
            "pathGroupsExcludedImportTypes": ["builtin"],
            "newlines-between": "always",
            "alphabetize": {
              "order": "asc",
              "caseInsensitive": true
            }
          }
        ],
        "max-len": [
          "warn",
          {
            "code": 80,
            "ignoreComments": true,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true,
            "ignoreUrls": true
          }
        ]
      }
    }
  ]
}
