@use '../../../styles/_tokens.scss' as *;

.app-tab-bar {
  flex-shrink: 0;
  width: 100%;
  background: $dp-color-bg-card;
  border-top-color: $dp-color-border-default;
  border-top-width: 1px;
}

.app-tab-bar__inner {
  display: flex;
  flex-direction: row;
  min-height: 104px;
  padding: 8px 18px 4px;
}

.app-tab-bar__item {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.app-tab-bar__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  margin-bottom: 1px;
}

.app-tab-bar__text {
  color: $dp-color-text-heading;
  font-size: $dp-font-size-caption;
  font-weight: $dp-font-weight-regular;
  line-height: $dp-line-height-caption;
}

.app-tab-bar__text--active {
  color: $dp-color-brand;
}
