@use '../../../../styles/_tokens.scss' as *;

.coupon-tabs {
  display: flex;
  flex-direction: row;
  padding: 20px 24px 0;
}

.coupon-tab {
  align-items: center;
  justify-content: center;
  height: 62px;
  padding: 0 28px;
  margin-right: 14px;
  background: $dp-color-bg-card;
  border-color: $dp-color-border-default;
  border-radius: $dp-radius-sm;
  border-width: 1px;
}

.coupon-tab--active {
  background: $dp-color-brand-soft;
  border-color: $dp-color-brand;
}

.coupon-tab__text {
  color: $dp-color-text-secondary;
  font-size: $dp-font-size-body-large;
  font-weight: $dp-font-weight-bold;
}

.coupon-tab__text--active {
  color: $dp-color-brand;
}
