.home-page {
  flex: 1;
  background: #f4f6f8;
}

.home-primary-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 160px;
  margin: -140px 24px 0;
  overflow: hidden;
  background: #ffffff;
  border-radius: 24px;
}

.home-primary-action {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  height: 160px;
  padding-left: 32px;
}

.home-primary-action__image {
  width: 104px;
  height: 104px;
  margin-right: 24px;
}

.home-primary-action__title {
  color: #16181a;
  font-size: 34px;
  font-weight: 700;
  line-height: 48px;
}

.home-primary-action__summary {
  display: flex;
  margin-top: 2px;
  color: #9b9b9b;
  font-size: 22px;
  line-height: 34px;
}

.home-primary-actions__divider {
  width: 1px;
  height: 64px;
  background: #e4e7ec;
}

.home-support-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 88px;
  margin: 16px 24px 0;
  background: #ffffff;
  border-radius: 24px;
}

.home-support-bar__item {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-support-bar__text {
  margin-left: 8px;
  color: #16181a;
  font-size: 26px;
  font-weight: 700;
}

.home-support-bar__divider {
  width: 1px;
  height: 32px;
  background: #e4e7ec;
}

.home-query-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 88px;
  margin: 16px 24px 26px;
  padding: 0 24px;
  background: #ffffff;
  border-radius: 24px;
}

.home-query-bar__main {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  min-width: 0;
}

.home-query-bar__title {
  flex-shrink: 0;
  color: #16181a;
  font-size: 26px;
  font-weight: 700;
}

.home-query-bar__summary {
  flex-shrink: 1;
  margin-left: 8px;
  color: #a3a3a3;
  font-size: 22px;
}

.home-query-bar__price {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  margin-left: 12px;
  padding-left: 14px;
  border-left-color: #e4e7ec;
  border-left-width: 1px;
}

.home-query-bar__price-text {
  color: #16181a;
  font-size: 24px;
  font-weight: 400;
}
